src/main/mule/mdp-e-commerce-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="mdp-e-commerce-sys-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mdp-e-commerce-sys-api-config" api="mdp-e-commerce-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="580929ac-2ae3-4e84-923c-8941142edb3e" environment="${env}" />
    <db:config name="Database_Config1" doc:name="Database Config" doc:id="6f58fd2d-4c38-428e-8385-5ba75ba26fe2">
        <db:generic-connection url="jdbc:postgresql://arjuna.db.elephantsql.com/kpwmtocy?sslmode=require" driverClassName="org.postgresql.Driver" user="kpwmtocy" password="HwUZlxoYGc0qV1c7SNNoGRrSDWZ8E-Fb" />
    </db:config>
    <configuration-properties doc:name="Configuration properties" doc:id="7cf15dfd-2449-4d97-9db9-94c0cb04d9da" file="properties\mule.sb.properties" />
	<flow name="mdp-e-commerce-sys-api-main">
        <http:listener config-ref="mdp-e-commerce-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mdp-e-commerce-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mdp-e-commerce-sys-api-console">
        <http:listener config-ref="mdp-e-commerce-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mdp-e-commerce-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\update:application\json:mdp-e-commerce-sys-api-config">
        <json-logger:logger doc:name="Start Log" doc:id="0324dfff-c8ba-43a1-89d5-fb91ce3b20be" config-ref="JSON_Logger_Config" message="update data flow started" />
		<flow-ref doc:name="Flow Reference" doc:id="a01d779a-fc0b-43ed-8f6f-76644f8eb82e" name="updateDataFlowSub_Flow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Data updated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <json-logger:logger doc:name="End Log" doc:id="a932d0fe-c4d7-4958-8441-2d1ab3b4bc8e" config-ref="JSON_Logger_Config" message="update data flow ended" />
    </flow>
    <flow name="delete:\delete:application\json:mdp-e-commerce-sys-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="c97e3fdc-4969-4ce6-961f-30350c42fd0c" name="deleteDataFlowSub_Flow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Data deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\select:mdp-e-commerce-sys-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="3ea2c68c-c11c-4c4d-b448-1c0e3ad7f92e" name="mdp-e-commerce-sys-api-get-flow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Data fetched successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\create:application\json:mdp-e-commerce-sys-api-config">
        <json-logger:logger doc:name="Start Log" doc:id="356cf7b9-7ed7-47aa-9498-203360e26913" config-ref="JSON_Logger_Config" message="create data flow started" />
        <flow-ref doc:name="Flow Reference" doc:id="90e3bd1f-f619-44e6-a486-ca2166272082" name="mdp-e-commerce-sys-api-post-data-flow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "New record has been created successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <json-logger:logger doc:name="End Log" doc:id="aaa71515-7728-4a9b-88f6-543e92eae2a8" config-ref="JSON_Logger_Config" message="create data flow ended" tracePoint="END" />
    </flow>
    
    
</mule>
